@inherits LayoutComponentBase
@using MudBlazor
<PageTitle>StupidCommentsInYourPocket</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
        <MudThemeProvider IsDarkMode=true/>
        <MudDialogProvider/>
        <MudSnackbarProvider/>
    </main>
</div>

